

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'General Sans', sans-serif;
    text-decoration: none;
  }

  .specialist{
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  }